@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");
html ::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: ;
  /* Optional: just make scrollbar invisible */
}

body {
  background: lightblue;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 50px;
  padding-right: 110px;
  margin-left: 110px;
}

nav ul {
  list-style: none;
  margin: 0;
  margin-left: -4px;
  padding: 0;
  -webkit-transition: ease 1s all;
  transition: ease 1s all;
}

@media (max-width: 480px) {
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: none;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f2f2f2;
  }
  nav ul.active {
    opacity: 1;
    max-height: 500px;
    background-color: #e2e2e2;
  }
  nav ul.active li {
    display: block;
  }
  nav ul.active li a {
    display: block;
  }
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0.5em 1em;
}

nav li a:hover {
  background: brown;
}

nav .nav-signup {
  padding: 0 1.5rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-transition: ease-in 0.25s all;
  transition: ease-in 0.25s all;
  font-size: 16px;
  color: white;
}

nav .nav-signup:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  margin-left: 110px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .left-part {
  margin-top: 100px;
}

header .left-part h2 {
  font-size: 4rem;
  max-width: 700px;
  font-weight: 700;
}

hr {
  margin: 90px 100px;
}

footer {
  body {
    background: #d0d8db;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  textarea {
    resize: none;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  @charset "UTF-8";

  .svg-inline--fa {
    vertical-align: -0.2em;
  }

  .rounded-social-buttons {
    text-align: center;
  }

  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 9.125rem;
    height: 9.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram {
    font-size: 25px;
  }
}

.f-hed {
  text-align: center;
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}

.icon {
  color: #d0b200;
  font-size: 35px;
}

.icon-container {
  background-color: #faf7e8;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 15px;
  padding-top: 22px;
  padding-bottom: 14px;
  padding-right: 16px;
  padding-left: 22px;
}

.button {
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.footer {
  background-color: #0d2436;
}

.mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 18px;
}

.hed2 {
  color: #959ead;
  font-size: medium;
}

.tn {
  color: #959ead;
  font-family: "Roboto";
  font-size: small;
}

.logo2 {
  height: 40px;
  width: 40px;
}
